{% extends 'jobcards/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
   
</head>
<body>

<section class="dashboard">
    <div class="container">
        <h2>Admin Dashboard</h2>

        <div class="stats-grid">
            <div class="card shadow-sm text-center">
    <div class="card-body">
        <h3 class="fw-bold text-success">{{ total_job_cards }}</h3>
        <p class="text-muted mb-0">Total Job Cards</p>
    </div>
</div>


            <div class="stat-card">
                <h3>85</h3>
                <p>Completed Jobs</p>
            </div>

            <div class="stat-card">
                <h3>35</h3>
                <p>Pending Jobs</p>
            </div>

            <div class="stat-card">
                <h3>₵45,000</h3>
                <p>Total Revenue</p>
            </div>
        </div>
    </div>
</section>


</body>
</html>
{% endblock %}